In [44]:
from korean_crawling_bundles import *

In [45]:
word_df = pd.read_csv('konlpy_0917_link.csv')
word_df.head()

                                              corpus
0  ['미', '미중', '중', '무역', '무역분쟁', '분쟁', '격화', '아이...
1  ['5', '먹거리', '통', '통사', '사', '게임', '스포츠', '눈',...
2  ['재생', '재생에너지', '에너지', '확대', '찬성', '86', '발전소'...
3  ['금리', '인하', '고민', '상황', '연', '연내', '내', '통화',...
4  ['무역', '무역협상', '협상', '재개', '제안', '거부', '분위기', ...

In [46]:
for i in range(len(word_df)) : 
    word_df.iat[i,0] = word_df.iat[i,0][1:-1]
    
word_ls = []
for i in range(len(word_df)) : 
    new_ls = word_df.iat[i,0].split(',')

    for i in range(len(new_ls)) : 
        new_ls[i] = new_ls[i].replace(' ','')
    
    for i in range(len(new_ls)) : 
        new_ls[i] = new_ls[i].replace("'",'')
    
    word_ls += new_ls
print(len(word_ls))

for i in range(len(word_df)):
    word_df.iat[i,0] = ''.join(word_df.iat[i,0]).replace("'","").split(',')
    
for i in range(len(word_df)):
    word_df.iat[i,0] = ','.join(word_df.iat[i,0]).replace(' ','').split(',')

25708

In [47]:
word_df.tail()

                                               corpus
88  [데일리, 데일리안, 안, 이정, 이정윤, 윤, 기자, 서울시, 영등포, 영등포구,...
89  [데일리, 데일리안, 안, 이정, 이정윤, 윤, 기자, 동네, 쪽, 쪽방촌, 방촌,...
90  [민, 민관협력, 관, 협력, 노후, 노후주택, 주택, 개선, 개선사업, 사업, 개...
91  [추석, 활기, 광장, 광장시장, 시장, 사진, 뉴, 뉴시스, 시스, 식품, 외식,...
92  [앵커, 남북, 경제, 경제협력, 협력, 시작, 30, 30년, 년, 전, 관계, ...

In [48]:
print(len(word_df.iat[0,0]))
for _ in range(10):
    for i in range(len(word_df)):
        for idx,j in enumerate(word_df.iat[i,0]):
            if len(j) < 2 : 
                word_df.iat[i,0].pop(idx)
print(len(word_df.iat[0,0]))

146
122

In [49]:
word_ls = []
for i in range(len(word_df)):
    word_ls += word_df.iat[i,0]
len(word_ls)

21787

In [50]:
from collections import Counter
cnt_dict = dict(Counter(word_ls))

df = pd.DataFrame(columns=['Count'])
df['Count'] = cnt_dict.values()
df.index = cnt_dict.keys()
df.sort_values('Count',ascending=False,inplace=True)

df.head()

    Count
기자     85
뉴스     60
17     56
달러     51
미국     51

In [86]:
import string
pt = string.printable
print(pt[:])

pt_ls = []
all_ls = []
for i in range(len(df)):
    all_ls = []
    for comp in df.index[i]:
        all_ls.append(comp)
        if all(x not in pt for x in all_ls) : 
            pt_ls.append(i)
pt_ls = list(set(pt_ls))

In [89]:
df = df.iloc[pt_ls]

# LDA process

In [91]:
documents = [i for i in word_df['corpus']]
K = 5

In [92]:
from collections import Counter

# 각 토픽이 각 문서에 할당되는 횟수
# Counter로 구성된 리스트
# 각 Counter는 각 문서를 의미
document_topic_counts = [Counter() for _ in documents]

# 각 단어가 각 토픽에 할당되는 횟수
# Counter로 구성된 리스트
# 각 Counter는 각 토픽을 의미
topic_word_counts = [Counter() for _ in range(K)]

# 각 토픽에 할당되는 총 단어수
# 숫자로 구성된 리스트
# 각각의 숫자는 각 토픽을 의미함
topic_counts = [0 for _ in range(K)]

# 각 문서에 포함되는 총 단어수
# 숫자로 구성된 리스트
# 각각의 숫자는 각 문서를 의미함
document_lengths = [len(doc) for doc in documents]

# 단어 종류의 수
distinct_words = set(word for document in documents for word in document)
V = len(distinct_words)

# 총 문서의 수
D = len(documents)

In [93]:
def p_topic_given_document(topic, d, alpha=0.1):
    # 문서 d의 모든 단어 가운데 topic에 속하는
    # 단어의 비율 (alpha를 더해 smoothing)
    return ((document_topic_counts[d][topic] + alpha) /
            (document_lengths[d] + K * alpha))

def p_word_given_topic(word, topic, beta=0.1):
    # topic에 속한 단어 가운데 word의 비율
    # (beta를 더해 smoothing)
    return ((topic_word_counts[topic][word] + beta) /
            (topic_counts[topic] + V * beta))

def topic_weight(d, word, k):
    # 문서와 문서의 단어가 주어지면
    # k번째 토픽의 weight를 반환
    return p_word_given_topic(word, k) * p_topic_given_document(k, d)

In [94]:
def choose_new_topic(d, word):
    return sample_from([topic_weight(d, word, k) for k in range(K)])

import random
def sample_from(weights):
    # i를 weights[i] / sum(weights)
    # 확률로 반환
    total = sum(weights)
    # 0과 total 사이를 균일하게 선택
    rnd = total * random.random()
    # 아래 식을 만족하는 가장 작은 i를 반환
    # weights[0] + ... + weights[i] >= rnd
    for i, w in enumerate(weights):
        rnd -= w
        if rnd <= 0:
            return i

In [95]:
random.seed(0)

# topic 수 지정

# 각 단어를 임의의 토픽에 랜덤 배정
document_topics = [[random.randrange(K) for word in document]
                    for document in documents]

# 위와 같이 랜덤 초기화한 상태에서 
# AB를 구하는 데 필요한 숫자를 세어봄
for d in range(D):
    for word, topic in zip(documents[d], document_topics[d]):
        document_topic_counts[d][topic] += 1
        topic_word_counts[topic][word] += 1
        topic_counts[topic] += 1

In [96]:
%%time
for iter in range(1000):
    for d in range(D):
        for i, (word, topic) in enumerate(zip(documents[d],
                                              document_topics[d])):
            # 깁스 샘플링 수행을 위해
            # 샘플링 대상 word와 topic을 제외하고 세어봄
            document_topic_counts[d][topic] -= 1
            topic_word_counts[topic][word] -= 1
            topic_counts[topic] -= 1
            document_lengths[d] -= 1

            # 깁스 샘플링 대상 word와 topic을 제외한 
            # 말뭉치 모든 word의 topic 정보를 토대로
            # 샘플링 대상 word의 새로운 topic을 선택
            new_topic = choose_new_topic(d, word)
            document_topics[d][i] = new_topic

            # 샘플링 대상 word의 새로운 topic을 반영해 
            # 말뭉치 정보 업데이트
            document_topic_counts[d][new_topic] += 1
            topic_word_counts[new_topic][word] += 1
            topic_counts[new_topic] += 1
            document_lengths[d] += 1

CPU times: user 3min 18s, sys: 6.16 ms, total: 3min 18s
Wall time: 3min 18s

In [120]:
lda_df = pd.DataFrame()
k_ls = []
word_ls = []
count_ls = []
for k , word_counts in enumerate(topic_word_counts):
    for word,count in word_counts.most_common():
        k_ls.append(k)
        word_ls.append(word)
        count_ls.append(count)

In [121]:
lda_df['topic'] = k_ls
lda_df['word']  = word_ls
lda_df['count'] = count_ls

In [125]:
lda_df[lda_df['topic']==0].sort_values('count',ascending=False).head()

   topic word  count
0      0   기자     19
1      0   10     17
2      0   이상     17
3      0   은행     16
4      0   뉴스     15

In [126]:
lda_df[lda_df['topic']==1].sort_values('count',ascending=False).head()

      topic word  count
6358      1   기자     20
6360      1   이번     19
6359      1   17     19
6361      1   정부     16
6362      1   추진     15

In [127]:
lda_df[lda_df['topic']==2].sort_values('count',ascending=False).head()

       topic word  count
12726      2   전망     20
12727      2   대비     20
12728      2   경기     19
12729      2   투자     19
12730      2   기대     17

In [128]:
lda_df[lda_df['topic']==3].sort_values('count',ascending=False).head()

       topic  word  count
19111      3    금융     23
19112      3    국내     19
19113      3    주식     17
19114      3   페이지     17
19115      3  저작권자     16

In [129]:
lda_df[lda_df['topic']==4].sort_values('count',ascending=False).head()

       topic word  count
25449      4   달러     49
25450      4   규모     30
25451      4   중국     30
25452      4   시간     28
25453      4   현지     26